# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Data
data/processed/
data/sentiment/

# Notebooks Checkpoints
*.ipynb_checkpoints/

# Virtual environments
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python packages
*.egg-info/

# VSCode settings
.vscode/

# Docker
*.env

# Other
*.sqlite3
